[submodule "amy"]
	path = amy
	url = https://github.com/bwhitman/amy.git
[submodule "linenoise"]
	path = linenoise
	url = https://github.com/antirez/linenoise.git
[submodule "tinycthread"]
	path = tinycthread
	url = https://github.com/tinycthread/tinycthread.git
